version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: devstations-backend
    ports:
      - "5000:5000"
    environment:
      FLASK_ENV: development
    volumes:
      - ./server:/app

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: devstations-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
  
